@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
// For font --> font-family: 'Press Start 2P', cursive;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

body {
    background-color: #306230;
}

p, label{
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}
