@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
// For font --> font-family: 'Press Start 2P', cursive;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

body, input {
    background-color: #306230;
    color: #9bbc0f;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

p, label{
    font-size: 24px;
    
}
