.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;     
    }



    #display-container {
        display: flex;
        width: 100vw;
        justify-content: center;

        #display-content {
            display: flex;
            width: 400px;
            height: 100px;
            justify-content: flex-end;
            align-items: center;
            margin: 20px 20px;

            p {
                text-align: right;
            }
          }
      }
    
            
    

#container {
    margin: 0 auto;
    min-width: 280px;
    max-width: 400px;
}
