 #display-container {
        display: flex;
        width: 100vw;
        justify-content: center;

        #display-content {
            display: flex;
            width: 400px;
            height: 100px;
            justify-content: flex-end;
            align-items: center;
            margin: 20px 20px;
            overflow-x: auto;

            #equationDisplay-el {
                margin-bottom: 50px;
                margin-right: 10px;
                font-size: 12px;
                position: absolute;
                color: #306230;
            }

            p {
                color: #0f380f;
            }

            
          }
 }

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;     
    }

#container {
    margin: 0 auto;
    min-width: 310px;
    max-width: 400px;
}

#reset-calculate {

    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 40px;

    #reset {
        height: 60px;
        width: 60px;
    }
}

