.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;     
    }

#display-container {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    margin: 20px 0;

    #display {
        width: 90%;
        height: 100%;

        #display-content {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: right;
            align-items: center;

            p {
                text-align: right;
            }
        }

    }

}



#container {
    display: flex;
    flex-direction: column;
    
  
}



#right-align {
    margin-left: 80px;
}


 