@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #306230;
  color: #9bbc0f;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

p, label {
  font-size: 24px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 20px;
}

#display-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}
#display-container #display-content {
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 20px;
}
#display-container #display-content p {
  text-align: right;
}

#container {
  margin: 0 auto;
  min-width: 280px;
  max-width: 400px;
}

#display-content {
  background-color: #9bbc0f;
  border: solid 4px #0f380f;
}

#container {
  border: solid 4px #0f380f;
}

.numberInputs {
  height: 60px;
  width: 215px;
  border: solid 2px #9bbc0f;
  background-color: #306230;
  color: #9bbc0f;
  font-size: 20px;
  border-radius: 50px;
  text-align: center;
}

#submit {
  border: solid 2px #0f380f;
  font-size: 20px;
  height: 25px;
  width: 100px;
  border-radius: 10px;
  background-color: #9bbc0f;
  color: #0f380f;
  cursor: pointer;
}

select {
  background-color: #0f380f;
  color: #9bbc0f;
  border: none;
  height: 30px;
  border-radius: 10px;
}