@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #306230;
  color: #9bbc0f;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

p, label {
  font-size: 24px;
}

#display-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}
#display-container #display-content {
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 20px;
}
#display-container #display-content #equationDisplay-el {
  margin-bottom: 50px;
  margin-right: 10px;
  font-size: 12px;
  position: absolute;
  color: #306230;
}
#display-container #display-content p {
  text-align: right;
  color: #0f380f;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 20px;
}

#container {
  margin: 0 auto;
  min-width: 310px;
  max-width: 400px;
}

#reset-calculate {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#reset-calculate #reset {
  height: 60px;
  width: 60px;
}

#display-content {
  background-color: #9bbc0f;
  border: solid 4px #0f380f;
}

#container {
  border: solid 4px #0f380f;
}

.numberInputs {
  height: 60px;
  width: 215px;
  border: solid 2px #9bbc0f;
  background-color: #306230;
  color: #9bbc0f;
  font-size: 20px;
  border-radius: 50px;
  text-align: center;
}

#submit {
  border: solid 2px #0f380f;
  font-size: 20px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #9bbc0f;
  color: #0f380f;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 16px !important;
}

select {
  background-color: #0f380f;
  color: #9bbc0f;
  border: none;
  height: 30px;
  border-radius: 10px;
}

.invalid {
  border: solid 2px red;
}

img {
  cursor: pointer;
}

@media screen and (max-width: 424px) {
  label {
    font-size: 12px;
  }

  .numberInputs {
    height: 40px;
    width: 200px;
  }

  #container {
    width: 300px;
  }

  #submit {
    width: 100px;
    font-size: 10px !important;
  }
}