#display-content {
    background-color: #9bbc0f;
    border: solid 4px #0f380f;
}

#container {
    border: solid 4px #0f380f;
}


p {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}
