#display-content {
    background-color: #9bbc0f;
    border: solid 4px #0f380f;
}

#container {
    border: solid 4px #0f380f;
}

img {
    height: 60px;
    width: 60px;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}