* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../resources/svg.png);
    background-repeat: no-repeat;
    background-position: 100%;
    vertical-align: baseline;
    height: 100vh;
    width: 100vw;
}

.nav {
    box-shadow: 0 15px 10px -3px rgba(100, 148, 237, 0.329);
    height: 60px;
}

.nav-container {
    width: 100vw;
}

.logo-container {
    width: 100vw;
    margin: 10px;
    display: flex;
}

.menu-container {
    display: flex;
    width: 100vw;
    margin-right: 30px;
    justify-content: flex-end;
}

a#menu {
    color: black;
    width: 42px;

}

#menu:active {
    color: purple;
}

a#bell {
    color: black;
    width: 42px;
    margin: 0 40px;

}

#bell:active {
    color: purple;
}



/*sidenav */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    background-color: cornflowerblue;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-radius: 150px 50px 50px 150px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color:white;
    display: block;
    transition: 0.3s;
    font-family: "Fredoka One", cursive;
}

.sidenav a:hover {
    color:turquoise;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 10px;
    }
    
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

h1 {
    margin-bottom: 20px;
    font-family: "Fredoka One", cursive;
    color: rgba(0, 0, 139, 0.384);
    font-size: 30px;
    text-align: center;
}