@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #306230;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

#container {
  border: solid 5px #0f380f;
  margin: 0 15px;
  min-width: 280px;
  height: auto;
}

#display-container {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  margin: 20px 0;
  max-width: 430px;
}
#display-container #display {
  width: 90%;
  height: 100%;
}
#display-container #display #display-content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: right;
  align-items: center;
}
#display-container #display #display-content p {
  text-align: right;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

#right-align {
  margin-left: 80px;
}

#display {
  background-color: #9bbc0f;
}

img {
  height: 60px;
  width: 60px;
}

p {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
}

@media screen and (min-width: 420px) {
  .responsive {
    width: 80px;
    height: auto;
  }
}