* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f7df1e;
}

h1 {
    font-family: 'Coda', cursive;
    font-weight: 400;
    text-align: center;
}

#heading {
    margin: 0 20px;
    font-size: 32px;
}

#logo-text {
    font-family: 'Coda', cursive;
    font-weight: 800;
    font-size: 60px;
    margin-top: 10px;
    margin-left: 20px;
}