* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background-color: #f7df1e;
}

h1, h2, h4, h5, button {
    font-family: 'Coda', cursive;
    font-weight: 400;
    text-align: center;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

#heading {
    font-size: 32px;
}