#logo {
    width: 140px;
    height: 70px;
}

.nav-content {
    border: dotted 4px rgba(0, 0, 0, 0.158);
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}

#restart-el {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.lives {
    width: 40px;
    height: 40px;
}

.answer {
    cursor: pointer;

    
}

#next-question:hover {
    background-color: rgba(173, 216, 230, 0.507);
}

#next-question {
    cursor: pointer;
}

.answer:hover {
    border: 2px solid #f7df1e!important;
}

#next-question:active {
    background-color: #f7df1e;
}

#restart-el:active {
    opacity: 50%;
}

.right-answer {
    background-color: greenyellow;
}

.wrong-answer {
    background-color: red;
}
