@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7df1e;
}

h1, h2 {
  font-family: "Coda", cursive;
  font-weight: 400;
  text-align: center;
  text-align: center;
}

#heading {
  font-size: 32px;
}

#header-container {
  width: 100vw;
  height: 20vh;
}
#header-container #header-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 100vw;
}
main #main-container {
  width: 60%;
  height: 95%;
  background-color: white;
  border-radius: 20px;
}
main #main-container #image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}
main #main-container #image-container #img-el {
  height: 100px;
  width: 90px;
}

#nav-bar {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

#lives-container {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media screen and (max-width: 944px) {
  h1 {
    font-size: 20px;
  }

  #heading {
    font-size: 28px;
  }

  main #main-container {
    width: 90%;
  }
}
@media screen and (max-width: 533px) {
  .nav-content {
    font-size: 12px;
  }

  #header-content {
    flex-direction: column;
  }

  #heading {
    font-size: 18px;
  }

  main #main-container {
    width: 90%;
  }

  #question-el {
    font-size: 18px;
  }
}
#logo {
  width: 140px;
  height: 70px;
}

.nav-content {
  border: dotted 4px rgba(0, 0, 0, 0.158);
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}

#restart-el {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.lives {
  width: 40px;
  height: 40px;
}