@media screen and (max-width: 944px) {
    #heading {
        font-size: 20px;
    }
}

@media screen and (max-width: 533px) {
    
    #logo-text {
        display: none;
    }

    #logo {
        display: none;
    }
}